.imgflashcard {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.spanname {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 17px;
    max-width: 100%;
}
.flash {
    background: #f6f9fc;
    padding: 50px 0;
}
