.cart-items {
    background: #f6f9fc;
    height: auto;
    padding: 50px 0;
}

.cart-items .cart-details {
    width: 70%;
}

.cart-items .cart-total {
    width: 30%;
    margin-top: 65px;
    margin-left: 30px;
    height: 130px;
}

.cart-list {
    background: white;
    margin-top: 30px;
    margin-left: 30px;

    margin-bottom: 30px;
}

.cart-items .img {
    width: 150px;
    height: 150px;
}

.cart-items img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-items .cart-details h3 {
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
}

.cart-items .cart-details h4 {
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    color: grey;
    margin-left: 20px;
}

.cart-items h4 span {
    color: #606eca;
    margin-left: 20px;
    font-weight: 500;
}

.removeCart {
    background: none;
    font-size: 25px;
    text-align: right;
    margin-right: 10px;
}

.cartControl {
    margin-top: 50px;
}

.cartControl button {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.incCart {
    background: none;
    border: 1px solid rgb(3 0 71 / 9%);
    color: #606eca;
}

.desCart {
    background: #f6f9fc;
}

.cart-total h4 {
    font-size: 15px;
    font-weight: 400;
}

.cart-total h3 {
    font-size: 20px;
    font-weight: 500;
    color: #606eca;
}

.cart-total button {
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.cart-total h2 {
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(3 0 71 / 9%);
    padding-bottom: 10px;
    color: #606eca;
}

.no-items {
    color: #606eca;
    font-size: 18px;
    margin-top: 30px;
    height: 130px;
}

.checkbox-container {
}

.checkbox-container input {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.checkbox-container input:checked {
}
.cart-item input {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.cart-item h3 {
    margin-top: 10px;
}
.businesscontainer label {
    display: flex;
    align-items: center;
    border: 5px solid #606eca;
    background-color: #606eca;
    padding: 10px;
    border-radius: 5px; /* Độ cong của góc */
}

.businesscontainer {
    padding-top: 10px; /* Khoảng cách giữa đường gạch và nội dung bên trong */
}

.modalcart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modalcart h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.modalcart p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.modalcart button {
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    margin-left: 60px;
}
.modalcart button.primary-button {
    background-color: #3498db;
    color: white;
}

.modalcart button.secondary-button {
    background-color: #2ecc71;
    color: white;
}

.modalcart button.close-button {
    background-color: #e74c3c;
    color: white;
}

@media screen and (max-width: 600px) {
    .modalcart {
        width: 80%;
    }
}

.buttoncart {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.payButton {
    background-color: #606eca;
}
.deletecart {
    background-color: #606eca;
}
