.headlogin {
    padding: 1px 0;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.imgheaderlogin {
    max-width: 200px;
    height: 100px;
    margin-top: 10px;
}

.dn {
    font-size: 18px;
}

.lableheaderlogin {
    text-decoration: none;
    color: #fff;
    margin: 0;
    padding-left: 60%;
}

.label-left {
    margin-right: auto; /* Đẩy label này về bên trái */
    font-size: 20;
}
