.profile {
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.menu-profile {
    width: 100%;
    font-size: 20px;
}

.menu-profile h3 {
    margin-bottom: 10px;
    font-size: 30px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

.h3profile {
    width: 100%;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 5px;
}

.icon {
    margin-right: 5px;
}

.btn {
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.lableprofile {
    display: block;
    margin-bottom: 5px;
}

/* EditProfile.css */

.edit-profile {
    /* Chiều cao 100% của viewport */
    height: 87vh;
    width: 140vh;
    margin: 0 auto;
    padding: 50px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    /* Box-sizing để padding không làm tăng kích thước của phần tử */
}

.h1-edit {
    text-align: center;
    color: #333;
}

.text-edit {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.lable-edit {
    display: block;
    margin-bottom: -3px;
    font-weight: bold;
    flex: 1;
    margin-right: 10px;
}

.input-edit {
    width: 400px;
    padding: 15px;
    flex: 2;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.gender {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.img-edit {
    text-align: center;
}

.img-edit img {
    max-width: 50%;
    height: auto;
    border-radius: 50%;
}

.input-img {
    width: 30%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.text {
    margin-top: 10px;
    font-size: 16px;
}

.label-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    white-space: nowrap;
}

.label-edit {
    flex: 1;
    margin-right: 10px;
}

.input-edit {
    flex: 2;
}

.edit-button {
    background-color: #0f3460;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    /* Thêm padding để làm cho nút rộng hơn và cao hơn */
    font-size: 16px;
    /* Có thể điều chỉnh kích thước chữ nếu cần thiết */
}
