.heading img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}
.NewArrivals h4 {
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.NewArrivals span {
    color: #e94560;
    font-size: 15px;
    font-weight: 500;
    padding: 0 5px;
}
.NewArrivals .box img {
    width: 100%;
    height: 100%;
}
.NewArrivals .box {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
