/* Header */
.head {
    background-color: #606eca;
    padding: 20px 0;
    /* Reduced the padding for a more compact header */
    color: black;
}

.head h1 {
    margin-bottom: 10px;
    /* Adjusted margin for a more compact header */
    color: #e94560;
    font-weight: 800;
    font-style: italic;
}

/* Account Menu */
/* Account Menu */
.account-menu {
    position: relative;
    display: inline-block;
    margin-right: 100px;
}

.account-menu label {
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.account-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    border-radius: 8px;
    overflow: hidden;
    width: 180px;
    transition: opacity 0.3s ease-in-out;
}

.account-menu li {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease-in-out;
    display: flex;
}

.account-menu li:last-child {
    border-bottom: none;
    /* Remove border on the last item */
}

.account-menu li:hover {
    background-color: #f5f5f5;
}

.account-menu:hover label {
    color: #e94560;
    /* Change color on hover */
}

.account-menu:hover ul {
    display: block;
    opacity: 1;
}
