/* General styles */
.checkout {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.listCheckout {
    margin: 0 auto;
    padding: 20px;
}

.listCheckout-table {
    margin-bottom: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.listCheckout-table h3 {
    margin-top: 20px;
    margin-left: 20px;
}

.listCheckout-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.listCheckout-table th,
.listCheckout-table td {
    padding: 8px;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}

.listCheckout-form {
    display: flex;
    align-items: center;
}

.listCheckout-form img {
    width: 5%; /* Use percentage for responsiveness */
    height: 5%;
    margin-right: 2%;
}

.info-listcheck {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-listcheck p {
    margin: 5px 10px;
}

.total-listCheckout {
    margin-top: 20px;
    text-align: right;
    margin-right: 20px;
    margin-bottom: 20px;
}

.total-listCheckout button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* CheckoutAd styles */
.CheckoutAd {
    width: 1120px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.head-CheckoutAd {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #606eca;
}

.list-CheckoutAd {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-weight: bold; /* Add this line to make the text bold */
}

.list-CheckoutAd p {
    margin-right: 20px;
}

.list-CheckoutAd button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.list-CheckoutAd button:hover {
    background-color: #45a049;
}

.ship-listcheckout {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.ship-listcheckout p {
    margin-right: 10px;
    margin-left: 10px;
}

.ship-listcheckout input,
.ship-listcheckout select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 200px;
}

.payment {
}

.boxpayment {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
}
.paymentbutton {
    display: flex;
    justify-content: flex-end;
    padding-right: 120px;
    padding-bottom: 30px;
    button {
        background-color: #606eca;
    }
}
.paymentbox {
    width: 300px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.paymentbox p {
    margin: 5px 0;
}

.tdtable {
    display: flex;
    align-items: center; /* Căn giữa các phần tử theo chiều dọc */
}

.tdtable p {
    margin: 0 10px;
}
.lispayment {
    padding-left: 10px;
}
.buttonpayment {
    background-color: #606eca;
    color: white;
}
