/* ListAddress.css */

.adressprofile {
   height: 7rem;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   background-color: white;
}
  
  .adress {
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    height: 20%;
  }
  
  .adressname {
    display: flex;
  }
  
  .adressname p,
  .adressadress p {
    margin: 0;
  }
  
  .adressadress {
    margin-top: 10px;
  }

  .add-address-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .add-address-button:hover {
    background-color: #2980b9;
  }
  
  .address-actions {
    display: flex;
    justify-content: flex-end; /* Đưa nút về phía bên phải */
  }
  
  .address-actions button {
    margin-left: 10px; /* Thêm một khoảng cách giữa các nút */
    padding: 5px 10px;
    cursor: pointer;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  
  .address-actions button:hover {
    background-color: #2980b9;
  }
  

  /* AddAddressModal.css */

/* Styling for the overlay background */
.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling for the modal content */
.ReactModal__Content {
  position: relative;
  background-color: #fff; /* White background */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Soft box shadow */
  max-width: 1000px; /* Set a maximum width for the modal */
  width: 100%;
  height: 30%; /* Ensure the modal takes the full width on small screens */
  margin: 200px; /* Add some margin around the modal */
  box-sizing: border-box;
}

/* Close button in the top-right corner */
.CloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #333; /* Dark color for the close button */
}

/* Style for form elements */
.FormLabel {
  margin-bottom: 8px;
  font-weight: bold;
  color: #333; /* Dark color for form labels */
  display: block; /* Display labels as block elements to make them appear on a new line */
}

.FormInput {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid black; /* Add a subtle border to the input fields */
  border-radius: 4px;
  
}
.modalinput{
  border: 1px solid black;
}

.SubmitButton {
  background-color: #4caf50; /* Green color for the submit button */
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.SubmitButton:hover {
}
